<launch>

  <include file="$(find racecar)/launch/teleop.launch"/>

  <include file="$(find zed_wrapper)/launch/zed.launch"/>

  <node pkg="racecar_34" type="grandprix_main_control.py" name="tech_challenge_2_main_control_node" />

  <node pkg="racecar_34" type="directionless_mover.py" name="racer_node" />

</launch> 
